* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(image/patt.png);
}

/* Start main details of header */

.containerOfHeader {
    width: 1200px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    min-width: 50%;
}

/* End main details of header */

/* Start menu of header */

.menu {
    display: flex;
}

.hbMenu {
    display: none;
    height: 25px;
    width: 25px;
    align-self: center;
    position: absolute;
    margin-left: 25px;
}

/* Start submenu */

.submenu-m {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    left: -1px;
    padding: 25px 0 0 0;
    background-color: #2c71b8;
    z-index: 10;
}

.submenu-m > p {
    background-image: url(./image/arrow-products-non-active.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    top: 23px;
    left: 122px;
    width: 10px;
    height: 7px;
}

.submenu-m:hover > p {
    background-image: url(./image/arrow-products-active.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    
}

.submenu > li {
    width: 286px;
    height: 40px;
}

.submenu > li > a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    width: 100%;
    height: 40px;
}

.submenu li:last-child {
    margin-bottom: 20px;
}

.submenu > li:hover > a {
    background-color: white;
    color: #2c71b8;
}

.submenu-m:hover .submenu {
    display: block;
}

/* End submenu */

.menu > li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu > li:hover > a {
    background-color: #2c71b8;
    color: white;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu > li > a {
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
    line-height: 50px;
    text-align: center;
}

.logo {
    margin-top: 7px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.row form {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    background-color: white;
}

.col-3 > form > input {
    width: 160px;
    height: 100%;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    outline: none;
    color: #2c71b8;
    border: 0px;
}

.col-3 > form > input::placeholder {
    color: #2c71b8;
}

.col-3 > form > input:focus {
    border-color: #1f5a96;
    text-shadow: 0 0 0.5px;
}

.col-3 > form > button {
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border-color: transparent;
    position: absolute;
    left: 164px;
    border: 0px;
    padding: 0;
    cursor: pointer;
}

.col-3 > form > button::before {
    background-image: url(./image/search.png);
    background-size: 14px 12px;
    width: 14px;
    height: 12px;
    display: block;
    position: relative;
    content: "";
    left: 8px;
}

.col-3 shopp-cart {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
}

.header-cart {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
}

.header-cart::before {
    position: absolute;
    background-image: url(./image/shop-cart-blue.png);
    content: "";
    width: 18px;
    height: 20px;
    left: 11px;
    top: 10px;
}

.product-count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    top: -10px;
    left: -10px;
}

.product-count span {
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    color: white;
    top: 4px;
    left: 7px;
}

/* End menu of header */

/* Start main*/

.main {
    height: fit-content;
    padding-bottom: 80px;
}

.containerOfMain {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Start of slider */

.containerForBackGr {
    border-bottom: 1px solid  rgba(255, 255, 255, 0.75);
    background-color: rgba(12, 52, 95, 0.4);
}

.containerForSlider {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider-line {
    display: flex;
    width: 100%;
    position: relative;
    left: 0;
    transition: all ease 1s;
    margin: 0 auto; 
}

.slider-line div > p {
    font-size: 100px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-next {
    right: 0;
    background-image: url(./image/arrow-slider-right.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 49px;
    position: absolute;
    top: 176px;
}

.slider-prev {
    background-image: url(./image/arrow-slider-left.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 49px;
    position: absolute;
    top: 176px;
}

/* Box with square switching of slides */

.sq-wrapper {
    display: flex;
    justify-content: center;
}

.boxForSq {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    top: 360px;
}

.slider-square {
    width: 10px;
    height: 10px;
    border: 1px solid white;
}

/* Start of main */

.containerForMenuOptAndContent {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: fit-content;
}

/* Start of aside menu (with options) */

.asideMenu {
    width: 23%;
    height: fit-content;
    padding: 30px 10px 30px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid white;
}

.option {
    margin-bottom: 60px;
}

.option > h3 {
    font-size: 21px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

/* Stylization checkbox */

.checkbox {
    display: block;
    margin-bottom: 15px;
    position: relative;
	padding-left: 30px;
	cursor: pointer;
    color: white;
    font-size: 21px;
    font-weight: 100;
    width: max-content;
}

input[type="checkbox"] {
	z-index: -1;
    display: none;
} 

label:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	background: transparent;
    border: 1px solid white;
	transition: .2s;
} 

input:checked + label:before {
	background: white;
}

/* End of stylization checkbox*/

.more-det {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 21px;
    font-weight: 300;
    cursor: pointer;
    margin-right: 15px;
}

.btnForAsMen {
    border: 0;
    padding: 0;
    margin-top: 30px;
    cursor: pointer;
}

.btnForAsMen:hover div {
    border: 1px solid #2c71b8;
    background-color: white;
    color:#2c71b8;
}

.btnForAsMen div {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 50px;
}

/* End of aside menu */

/* Start fill`s container with content (Content) */

/* Start content section*/

.content {
    width: 77%;
}

/* Start of main-header*/

.main-header {
    display: flex;
    flex-direction: column;
    height: 165px;
}

/* Start of navigation panel */

.navOnsite {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 15px 30px;
}

.navOnsite a {
    color: #96B8DC;
    font-size: 14px;
    font-weight: 100;
}

.navOnsite span {
    font-size: 14px;
    position: relative;
    color: #96B8DC;
    top: 1px;
    margin: 0 1px;
}

/* End of navigation panel */

/* Start of name a section and sort option */

.nameOfSectAndSort {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    height: 70px;
}

.nameOfSectAndSort h2 {
    font-size: 48px;
    font-size: 700;
    color: white;
}

.dropdownBtn {
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    border: 1px solid white;
    padding: 0 15px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 100;
    color: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    text-align: left;
}

.dropdownBtn::-ms-expand {
    display: none;
}

.dropDownList {
    display: none;
    position: absolute;
    background-color: #2c71b8;
    z-index: 10;
    width: 100%;
    border: 1px solid white;
    top: 49px;
}

.dropDownList--visible {
    display: block;
}

.inputForDrop {
    display: none;
}

.dropDownListItem {
    height: 40px;
    color: white;
    padding: 0 15px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 100;
    line-height: 40px;
    cursor: pointer;
}

.dropDownListItem:hover {
    background-color: white;
    color: #2c71b8;
}

.dropdownWrapper {
    position: relative;
    padding-top: 10px;
}

.dropdownWrapper::before {
    background-image: url(./image/arrow-sort.png);
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    right: 15px;
    width: 13px;
    height: 8px;
    z-index: 10;
}
 
/* Start content section with products */

.content-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px 0 30px 30px;
}

.item {
    width: 270px;
    height: 650px;
    border: 1px solid white;
}

.item-image {
    position: relative;
    height: 27.6%; 
    width: 100%;  
    background-image: url(./image/sticks.png);
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.incrSize {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(./image/increaseSize.png); 
    background-repeat: no-repeat;
    background-position: center;
    bottom: 77%;
    left: 83%;
    background-color: transparent;
    cursor: pointer;
}

.favor {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(./image/hart.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 6px;
    bottom: 54%;
    left: 83%;
    background-color: transparent;
    cursor: pointer;
}

.incrSize:hover {
    background-image: url(./image/increaseSizeActive.png); 
    background-color: #2c71b8;
}

/* Increase image to vp */

.incrImage {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease-in-out;
    z-index: 15;
}

.incrImage--visible {
    opacity: 1;
    pointer-events: all;
}

.favor--visible {
    background-image: url(./image/hartActive.png); 
    background-color: #2c71b8;
}

/* End of increase */

.item-details {
    height: 72.3%;
    padding: 15px 15px;
    background-color: rgb(44, 113, 184, 0.8);
}

.item-name {
    font-size: 30px;
    font-weight: 500;  
    color: white;
    line-height: 1.2;
}

.item-descr {
    font-size: 21px;
    font-weight: 300;  
    color: white;
    line-height: 1.2;
    margin-bottom: 15px;
}

.item-char {
    font-size: 21px;
    font-weight: 500;  
    color: white;
    line-height: 1.2;
    margin-right: 5px;
}

.item-details p {
    margin-left: 5px;
    font-size: 21px;
    font-weight: 300;  
    color: white;
    line-height: 1.2;
    margin-bottom: 15px;
}

.prize {
    font-size: 48px;
    font-weight: 500;  
    color: white;
    line-height: 1.2;
    position: relative;
    margin-left: 45px;
    margin-bottom: 10px;
}

.square-number {
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    top: 2px;
    left: 117px;
}

.moreDetails {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 50px;
    margin: 0 0 15px 15px;
    cursor: pointer;
}

.btnToCart {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 50px;
    margin-left: 15px;
    cursor: pointer;
    background-image: url(./image/shopp-cart-white.png);
    background-size: 15px 17px;
    background-repeat: no-repeat;
    background-position: top 16px right 10px;
} 

.moreDetails:hover {
    border: 1px solid #2c71b8;
    background-color: white;
    color: #2c71b8;
}

.btnToCart:hover {
    border: 1px solid #2c71b8;
    background-color: white;
    color: #2c71b8;
    background-image: url(./image/shop-cart-blue.png);
}

.loadMore {
    font-size: 36px;
    font-weight: 300;
    margin: 40px 0 10px 0;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* Finally end */

.footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.footer P {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 100;
}

@media(min-width: 400px) and (max-width: 1198px) {

    .header {
        position: fixed;
        width: 100%;
        z-index: 50;
        height: 65px;
        top: 0;
    }

    .col-6 {
        display: none;
        position: absolute;
        width: 500px;
        max-width: 500px;
        top: 65px;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 0;
        min-width: auto;
    }

    .hbMenu {
        display: block;
    }

    .hbMenu::after,
    .hbMenu::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #2c71b8;
        left: 0;
        transition: all 0.2s ease 0.1s;
    }

    .hbMenu::after {
        top: 0;
    }

    .hbMenu::before {
        bottom: 0;
    }

    .hbMenu span {
        position: absolute;
        top: 11px;
        width: 100%;
        height: 3px;
        background-color: #2c71b8;
        left: 0;
        transition: all 0.3s ease 0.3s;
    }

    .active {
        display: block;
    }

    .hbMenu.active::before {
        transform: rotate(45deg);
        top: 10px;
    }

    .hbMenu.active::after {
        transform: rotate(-45deg);
        top: 10px;
    }

    .hbMenu.active span {
        transform: scale(0);
    }

    .content-items {
        justify-content: space-evenly;
    }
    
    .asideMenu {
        padding: 30px 20px 30px 20px;
    }

    .containerOfHeader {
        width: 100%;
    }

    .row {
        justify-content: space-between;
    }

    .col-3 {
        max-width: none;
        margin: 0 70px;
    }

    .col-3 > form > input {
        width: 100%;
    }

    .submenu {
        padding: 1px 0 0 0;
        left: 0;
        margin-left: 248px;
        top: -52px;
        border: 1px solid rgb(255, 255, 255, 0.75);
    }

    .submenu-m  p {
        display: none;
    }

    .submenu-m:hover > p {
        display: none;
    }

    .submenu > li > a {
        height: 50px;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        border-left: 1px solid #2c71b8;
        border-right: 1px solid #2c71b8;
        width: 250px;
        height: 50px;
    }

    .menu li:last-child {
        border-left: 1px solid #2c71b8;
        border-right: 1px solid #2c71b8;    
        margin-bottom: 0;
    }

    .submenu-m li {
        height: 50px;
    }

    .containerForSlider {
        padding: 0 15px;
    }

    .btnForAsMen {
        width: 100%;

    }

    .btnForAsMen div {
        width: 100%;
    }
    
    .nameOfSectAndSort h2 {
        line-height: 1.2;
    }

    .containerForBackGr {
        margin-top: 65px;
    }

}

@media(min-width: 769px) and (max-width: 809px) {

    .nameOfSectAndSort h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .nameOfSectAndSort {
        justify-content: unset;
        flex-direction: column;
        height: 100%;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .dropdownWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .dropdownWrapper::before {
        display: none;
    }

    .dropdown::before {
        background-image: url(./image/arrow-sort.png);
        content: "";
        display: block;
        position: absolute;
        top: 41%;
        right: 15px;
        width: 13px;
        height: 8px;
        z-index: 10;
    }

}

@media(max-width: 768px) {
    .col-3 {
        margin: 0;
    }

    .col-3 .logo {
        margin-left: 70px;
    }

    .dropdownWrapper {
        display: none;
    }
}

@media(max-width: 632px) {

    .main-header {
        height: fit-content;
    }

    .navOnsite {
        display: none;
    }
    
    .containerForMenuOptAndContent {
        flex-direction: column;
    }

    .asideMenu {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .menu-op {
        display: flex;
        justify-content: space-around;
    }

    .content {
        width: 100%;
    }

    .nameOfSectAndSort {
        padding: 0;
        justify-content: center;
        height: fit-content;
        margin: 15px 0;
    }

    .content-items {
        padding: 0;
    }

    .more-det {
        margin: 0 0 15px 0;
    }

    .btnForAsMen {
        display: flex;
        margin: 15px auto;
        width: 65%;
    }

    .slider-line div > p {
        font-size: 70px;
    }
}

@media(max-width:577px) {

    .row form {
        position: absolute;
        border-radius: 25%;
    }

    .d-flex {
        display: flex;
        justify-content: space-evenly;
    }

    .header-cart {
        margin: 0;
        border-radius: 50%;
    }

    .header-search {
        opacity: 0;
        top: 65px;
        right: 15%;
    }

    .logo {
        position: relative;
    }

    .searchBtn {
        background-image: url(./image/search_btn.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        top: 5px;
        position: relative;
    }

    .active-search {
        opacity: 1;
        transition: all 0.3s ease-in 0.2s;
    }

    .col-3 {
        flex: none;
    }

    .col-3 > form > button {
        border-radius: 50%;
    }

    .col-6 {
        width: 398px;
        max-width: 398px;
    }

    .menu > li {
        width: 150px;
    }

    .submenu-m li {
        width: 150px;
    }

    .submenu {
        left: -100px;
        top: -52px;
        width: 250px;
    }
    
    .submenu > li > a {
        width: 248px;
    }

}